@layer base {
  body {
    @apply bg-[--color-primary] text-[--color-paragraph];
    font-family: var(--font-main);
    direction: rtl;
    text-align: right;
    background-image: url("../assets/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  h1 {
    font-size: clamp(
      2rem,
      4vw + 1rem,
      4rem
    ) !important; /* من 32px إلى 64px تقريبًا */
    line-height: 1.2 !important;
    font-weight: 800 !important;
    mix-blend-mode: hard-light !important;
    color: var(--color-primary);
  }

  h3 {
    font-size: clamp(
      1rem,
      1vw + 0.75rem,
      1.75rem
    ) !important; /* من 20px إلى 28px */
    line-height: 1.4 !important;
    font-weight: 700 !important;
    color: var(--color-paragraph);
  }

  p {
    font-size: clamp(
      1rem,
      0.8vw + 0.75rem,
      1.5rem
    ) !important; /* من 16px إلى 24px */
    line-height: 1.5 !important;
    font-weight: 500 !important;
    color: var(--color-paragraph);
  }

  a {
    font-size: clamp(1rem, 0.5vw + 0.75rem, 1.25rem); /* من 16px إلى 20px */
    font-weight: 500;
    color: var(--color-white) !important;
    transition: all 0.15s ease-in;
  }

  a:hover {
    color: var(--color-primary) !important;
    font-weight: 700;
  }
}
