@layer base {
  body {
    @apply bg-[--color-primary] text-[--color-paragraph];
    font-family: var(--font-main);
    direction: rtl;
    text-align: right;
    background-image: url("../assets/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  h1 {
    font-size: 64px;
    line-height: 38px;
    font-weight: 800;
    mix-blend-mode: hard-light;
    color: var(--color-primary);
  }

  h3 {
    font-size: 1.5rem !important;
    line-height: normal !important;
    font-weight: 700 !important;
    color: var(--color-paragraph);
  }

  p {
    font-size: 24px;
    line-height: normal;
    font-weight: 500;
    color: var(--color-paragraph);
  }

  a {
    font-size: 20px !important;
    font-weight: 500;
    color: var(--color-white) !important;
    transition: all 0.15s ease-in;
  }
  a:hover {
    color: var(--color-primary) !important;
    font-weight: 700 !important;
  }
}
